@use '../../css/abstracts/mixins' as *;
@use '../../css/abstracts/variables' as *;

.planet__info {
    margin-top: 5.5rem;

    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
    gap: 1.875rem;

    .planet__info-item {
        display: flex;
        flex-direction: column;
        gap: 0.1rem;

        padding: 1.35rem 0rem 1.5rem 1.5rem;
        border: 1px solid #393950;

        flex: 1;

        .info__item-title {
            font-size: $font-size-body-base;
            font-weight: $font-weight-bold;
            letter-spacing: 1px;
            color: $color-neutral-base-quaternary;
            text-transform: uppercase;
        }

        .info__item-text {
            font-family: $font-family-secondary;
            font-size: $font-size-headidng-main-small;
            letter-spacing: -1.5px;
            text-transform: uppercase;
        }
    }
}